.state{
    border-radius: 50%;/*make it a circle*/
    width: 80px;
    height: 80px;
    border-style: solid;
    border-color: black;
    border-width: 6px;
    position: absolute;
    background-color: white;
}

.state.final{
    background-color: red;
}

.state.starting{
    background-color: green;
}

.state input{
    border-style: hidden;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.41);
    top: calc(50% - 13px);
    position: absolute;
    text-align: center;
    font-size: 20px;
    outline: none;
    left: calc(50% - 33px);
    padding: 3px;
    border-radius: 4px;
}

.finite-state-editor, svg{
    width: 100%;
    height: 100%;
}

#container{
    position: fixed;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
}